.header {
    display: flex;


    .nav {
        display: flex;
        width: 100%;
        
        ul {
            list-style: none;

            li {
                font-size: 16px;
            }

        }
    }
}